@import "./assets/components/themes/themes.css";

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;

    background-color: var(--bg-1);
}