<h3>Générer un QR Wi-Fi</h3>
<input type="text" id="form-type" value="wifi" hidden>
<input type="text" id="generator-wifi-ssid" placeholder="SSID">
<input type="text" id="generator-wifi-password" placeholder="Mot de passe" >
<select id="generator-wifi-encryption">
    <option value="WPA">WPA/WPA2</option>
    <option value="WEP">WEP</option>
    <option value="nopass">Nopass</option>
</select>