<div id="decoder">
    <h2>QR Decoder</h2>

    <input type="file" id="decoder-file">

    <p id="decoder-result">
        Aucun résultat
    </p>

    <canvas id="decoder-canvas" hidden></canvas>
</div>