:root{
    --generatorWidth: 50%;
    --generatorHeight: 70%;
    --qrResWidth: 300px;
    --qrResHeight: 300px;
}
#generator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: var(--generatorWidth);
    height: var(--generatorHeight);

    background-color: var(--bg-02);
}
#generator #generator-result {
    width: var(--qrResWidth);
    height: var(--qrResHeight);
    background-color: var(--bg-01);
}