<div id="generator">
    <h2>QR Generator</h2>
    <nav id="generator-type">
        <!-- content inserted by script -->
    </nav>
    <div id="generator-form">
        <!-- content inserted by script -->
    </div>
        
    <button id="generator-btn">Générer</button>
    <div id="generator-result"></div>
</div>